@use 'variables';

html {
  scroll-behavior: smooth;
}

.highlight {
  color: variables.$accent-color;
}

::selection {
  background-color: rgba(21, 12, 1, .1);
}

.app {
  background-color: variables.$background-color;
}